not_for_deploy/docs/build/
*.o
*.pyc
*.pyo
*.tmp
.*.swp
.*.swo
*~
.DS_Store
*.sqlite
*.sqlite3
*.bak
*.egg-info/
cscope.out
Session.vim
\#*#
.#*
dbdev_tempdata/

/media/sorlcache/

.ipynb_checkpoints/
*.ipynb

vitalstyles_styleguide/
node_modules/
bower_components/

# Ignore user-specific pycharm settings
.idea/workspace.xml
.idea/tasks.xml

/django_media_root/

# coverage.py
/.coverage
/htmlcov/

/.tox/
/dist/

ievv_opensource/demo/demoapp/staticsources/demoapp/package.json
ievv_opensource/demo/demoapp2/staticsources/demoapp2/package.json
ievv_opensource/demo/demoapp2/staticsources/demoapp2/bower.json

/elasticsearch_develop/
/elasticsearch_unittest/
/dump.rdb
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/dataSources.ids
