[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
htmls = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
pytest = "*"
pytest-django = "*"
pytest-env = "*"
ievv-opensource = {editable = true, path = "."}
model-bakery = "*"
autopep8 = "*"
django-dbdev = "*"

[packages]
django = ">=4.1.0, <5"
arrow = "*"
rq = "*"
django-rq = "*"
redis = "*"
gsm0338 = "*"
psycopg2 = "*"
sh = "*"
watchdog = "*"
termcolor = "*"
psutil = "*"
djangorestframework = "*"

[requires]
python = "3.10.8"
