{% spaceless %}
    {% load static %}
{% endspaceless %}<!DOCTYPE html>
<html>
    <head>
        <script src="{% static "reactjs_demo/0.1.0/scripts/node_modules/react.js" %}"></script>
        <script src="{% static "reactjs_demo/0.1.0/scripts/node_modules/react-dom.js" %}"></script>
    </head>

    <body>
        <div id="example">Hello world</div>

        <div id="example"></div>

        <script src="{% static "reactjs_demo/0.1.0/scripts/node_modules/react.js" %}"></script>
    </body>
</html>
